:root {
  --light-green: rgba(193, 227, 182, 1);
  --light-blue: rgba(183, 224, 230, 1);
  --text-color: rgba(107, 104, 112, 1);
  --light-blue: rgba(60, 141, 188, 1);
  --extra-light-blue: rgba(0, 173, 197, 0.2);
  --box-shadow-color: rgba(92, 92, 92, 0.12);
  --toolbar-text-color: rgba(58, 53, 65, 0.87);
}

/*Main background color*/
.fc.fc-media-screen {
  background-color: white;
  box-shadow: 2px 2px 13px 0 var(--box-shadow-color);
  border-radius: 10px;
  height: 90vh !important;
}
/*Color of current day*/
.fc .fc-day.fc-day-today {
  background-color: var(--extra-light-blue);
}

/*Time grid day view modification*/
.fc .fc-timeGridDay-view .fc-scrollgrid-section-header .fc-col-header-cell {
  background-color: white;
}
.fc .fc-timeGridDay-view .fc-daygrid-day-frame {
  background-color: white;
}

.fc .fc-timeGridDay-view .fc-timegrid-slot {
  background-color: white;
}

.fc .fc-daygrid-day-number {
  padding: 0.3rem 0.6rem;
}

.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr {
  padding: 0.8rem !important;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0.3rem;
}

.fc .fc-button-group .fc-button-primary.fc-prev-button,
.fc .fc-button-group .fc-button-primary.fc-next-button {
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  outline: none !important;
  border: none !important;
  color: var(--toolbar-text-color);
}
.fc .fc-button-group .fc-button-primary.fc-prev-button:active,
.fc .fc-button-group .fc-button-primary.fc-next-button:active {
  background-color: white;
  border: none !important;
  outline: none !important;
}
.fc .fc-button-group .fc-button-primary.fc-prev-button:focus {
  background-color: white;
  border: none !important;
  outline: none !important;
}

.fc .fc-header-toolbar .fc-toolbar-chunk:nth-child(2) {
  margin-right: auto;
}
.fc .fc-header-toolbar .fc-toolbar-chunk .fc-toolbar-title {
  color: rgba(58, 53, 65, 1);
  font-size: 1.025rem;
  font-weight: 500;
}

.fc .fc-button-group .fc-button {
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 0.3rem 1rem;
}
.fc .fc-button-group .fc-button-primary {
  background-color: transparent;
  border-color: rgba(60, 141, 188, 1);
  color: rgba(60, 141, 188, 1);
}
.fc .fc-button-group .fc-button-primary.fc-button-active {
  background-color: rgba(60, 141, 188, 1);
  border-color: rgba(60, 141, 188, 1);
}

.fc .fc-daygrid-day-top {
  flex-direction: row;
}

.fc .fc-daygrid-day-events .fc-event {
  background-color: var(--light-green);
  /* font-family: "inter"; */
  font-family: "Roboto";
  text-transform: uppercase;
  padding-left: 0.5rem;
}

.fc .fc-daygrid-day-events .fc-event .fc-event-title {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--text-color);
}

.fc .fc-daygrid-day-events .fc-event .fc-event-time,
.fc .fc-daygrid-day-events .fc-event .fc-daygrid-event-dot {
  display: none;
}

/*Timegrid styles week */

.fc .fc-timeGridWeek-view .fc-timegrid-col-events .fc-event .fc-event-title,
.fc .fc-timeGridDay-view .fc-timegrid-col-events .fc-event .fc-event-title {
  color: var(--light-blue);
  font-weight: 500;
}
.fc .fc-timeGridWeek-view .fc-timegrid-col-events .fc-event .fc-event-time,
.fc .fc-timeGridDay-view .fc-timegrid-col-events .fc-event .fc-event-time {
  color: var(--light-blue);
}

/*React time picker styling*/

.react-timerange-picker__wrapper {
  border: 1px solid #cbd5e0 !important;
  border-radius: 2px;
  padding: 0.6rem;
}

/** Doc viewer style **/
#my-doc-viewer #pdf-download {
  display: none;
}

/** PDF doc viewer style **/

/* .PSPDFKit-Container .PSPDFKit-Toolbar-Button-Print {
  display: none;
} */

/*STYLING SIMPLEBAR THUMB BACKGROUND COLOR */
.simplebar-scrollbar::before {
  width: 6px !important;
  background-color: rgba(0, 0, 0, 0.4) !important;
}

/*STYLING SCROLLBAR FOR CHROME*/

.scrollbar-parent .scrollbar-primary::-webkit-scrollbar {
  width: 5px;
}

.scrollbar-parent .scrollbar-primary::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 98%);
}

.scrollbar-parent .scrollbar-primary::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 98%);
  border-radius: 100px;
}

.scrollbar-parent .scrollbar-primary::-webkit-scrollbar-button {
  display: none;
}

/* .scrollbar-parent .scrollbar-primary::-moz-scrollbar {
  width: 5px;
}

.scrollbar-parent .scrollbar-primary::-moz-scrollbar-track {
  background-color: hsl(0, 0%, 98%);
}

.scrollbar-parent .scrollbar-primary::-moz-scrollbar-thumb {
  background-color: hsl(0, 0%, 98%);
  border-radius: 100px;
}

.scrollbar-parent .scrollbar-primary::-moz-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 70%);
} */
